{% extends "pages/base.html" %}
{% block titulo %}Despensas{% endblock %}
{% block conteudo %}    
<div class='container'>
    <div class='main'>
        <div class='introduction'>
            <div class='title'>
                <h1>Nova Despensa</h1>
            </div>
        </div>

        <div class='register'>
            <form class="json-form" method="post" action="/cliente/post_cadastro_despensa">
                <div class='steps'>
                    <div class='step step-1'>
                        <div class='title'>
                            <h2>Dados Básicos</h2>
                        </div>

                        <div class='fields'>
                            <div class='row'>
                                <div class='col-lg-6 field'>
                                    <label for='inventoryName' class='form-label'>Nome da Despensa</label>

                                    <input type='text' class='form-control' id='inventoryName' name="nome" placeholder='' value=''>

                                    <span class='error'></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='buttons justify-content-start'>
                    <div class='previous'>
                        <button type='button' class='btn btn-outline-danger' onclick="history.back()">Cancelar</button>
                    </div>    
                    <div class='submit'>
                        <button type='submit' class='btn btn-success'>Salvar</button>
                    </div>
                </div>

                <div class='results mt-3'>
                    <span class='success'></span>
                    <span class='error'></span>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/formToJson.js"></script>
{% endblock %}