{% extends "pages/base.html" %}
{% block titulo %}Despensas{% endblock %}
{% block conteudo %}    
<div class='container'>
    <div class="main">
        <div class='introduction'>
            <div class='title d-flex flex-wrap align-items-center justify-content-md-between'>
                <h1>Despensas</h1>
                <a href='/cliente/cadastrardespensa' class='btn btn-primary'>Nova Despensa</a>
            </div>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>

            <tbody id="table_body_inventory">
                {% for despensa in despensas %}
                <tr>
                    <td><span>{{despensa.id}}</span></td>
                    <td><span>{{despensa.nome}}</span></td>
                    <td>
                        <a href="/cliente/itemdespensa/{{despensa.id}}" class="text-primary"><i class="bi bi-list-check"></i> Itens</a> | 
                        <a href="/cliente/excluirdespensa/{{despensa.id}}" class="text-danger"><i class="bi bi-trash3"></i> Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}