{% extends "pages/base.html" %}
{% block titulo %}Sobre{% endblock %}
{% block conteudo %}
<div class='container'>
    <div class="main">
        <div class='introduction'>
            <div class='title d-flex flex-wrap align-items-center justify-content-md-between'>
                <h1>Sobre</h1>
            </div>
        </div>
    </div>
    <div>
        <p>
            Alda e Renan são alunos do sétimo período do curso de Sistemas de Informação no IFES - Campus Cachoeiro de Itapemirim, e atualmente trabalham como Analistas de Sistemas em empresas distintas.
        </p>
        <p>
            Como demanda do sétimo período do curso e da matéria de Desenvolvimento para Web, ministrada pelo professor Ricardo Maróquio, pensaram em desenvolver um sistema de Gerenciamento de Despensa de Cozinha. O site tem como objetivo permitir que pessoas em suas residências usem o software para controle pessoal de seus armários e geladeiras, podendo cadastrar os produtos existentes e verificar sua data de vencimento.
        </p>
        <p>
            Ter o controle do que temos em casa ajuda o consumo consciente dos alimentos e evita o desperdício, colaborando também para a economia dos lares brasileiros.
        </p>
    </div>
</div>
{% endblock %}