<div class="container">
    <div class="sidebar">

        <div class='logo'>
            <span>Kinventory</span>
        </div>

        <div class='menu'>
            <ul>
                <li><a href="inventory.html"><span class="bi bi-box-seam"></span> <strong>Despensas</strong></a></li>

                <li><a href='shopping_list.html'><span class="bi bi-card-checklist""></span> Listas de compra</a></li>


            </ul>
        </div>

        <div class='user'>
            <div class='logo'></div>

            <div class='info'>
                <div class='username'>
                    <span></span>
                </div>

                <div class='email'>
                    <span></span>
                </div>
                <div>
                    <a href="/sair" id="logoutBtn">Sair</a>
                </div>
            </div>
        </div>
    </div>
</div>