<div class="container">
    <div class="sidebar">

        <div class='logo'>
            <span>Kinventory</span>
        </div>

        {% set pagina_atual = request.url.path %}
        <div class='menu'>
            <ul>
                <li><a class="{{ 'active' if pagina_atual == '/cliente/despensa' }}" href="/cliente/despensa"><span class="bi bi-card-checklist"></span> Despensas</a></li>

                <li><a class="{{ 'active' if pagina_atual == '/cliente/produtos' }}" href='/cliente/produtos'><span class="bi bi-box-seam"></span> Produtos</a></li>


            </ul>
        </div>

        <div class='user'>
            <div class='logo'></div>

            <div class='info'>
                <div class='username'>
                    <span></span>
                </div>

                <div class='email'>
                    <span></span>
                </div>
                <div>
                    <a href="/cliente/sair" id="logoutBtn">Sair</a>
                </div>
            </div>
        </div>
    </div>
</div>